header {
  padding: 25px 50px;
  width: 100%;
  font-family: sans-serif;
  background-color: blue;
  color: white;
}


header p {
  background-color: #EAF9FC;
  color: black;
}

section.column-1 {
  display: table-cell;
  width: 40%;
  border: 0px solid black;
  height: 100%;
  padding: 15px 20px;
}

section.column-2 {
  display: table-cell;
  width: 40%;
  border: 0px solid red;
  padding: 15px 20px;
}

article {
  font-family: sans-serif;
}

footer {
  width: 100%;
  font-size: .8em;
  background-color: #EAF9FC;
  padding: 10px 15px;
}